.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home:hover {
    color: orangered;
}

.navigationMenu {
    margin-top: 8px;
    position: fixed;
    display: flex;
    flex-direction: row;
    border: 2px solid orangered;
    border-radius: 10px;
    background-color: black;
    padding: 5pxpx;
}

.navigationMenu button {
    margin: 2px;
    border: 2px solid orangered;
    border-radius: 5px;
    background-color: black;
    color: orangered;
}

.navigationMenu :hover {
    background-color: white;
    color: orangered;
}